@inherits UmbracoTemplatePage
@{
    @* Get the root of the website *@
    var root = new Frontpage(CurrentPage.AncestorOrSelf(1));
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item@(root.Id == CurrentPage.Id ? " active" : null)">
                <a class="nav-link" href="/">@root.Name</a>
            </li>
            @foreach (var page in root.Children.Where(x => x.IsVisible()))
            {
                <li class="nav-item@(page.IsAncestorOrSelf((IPublishedContent)CurrentPage) ? " active" : null)">
                    <a class="nav-link" href="@page.Url">@page.Name</a>
                </li>
            }
        </ul>
        <ul class="navbar-nav ml-auto">
            @if (!string.IsNullOrWhiteSpace(root.InstagramLink))
            {
                <li class="nav-item">
                    <a href="@root.InstagramLink"><i class="fab fa-instagram"></i></a>
                </li>
            }
            @if (!string.IsNullOrWhiteSpace(root.FacebookLink))
            {
                <li class="nav-item">
                    <a href="@root.FacebookLink"><i class="fab fa-facebook-f"></i></a>
                </li>
            }
            @if (!string.IsNullOrWhiteSpace(root.YoutubeLink))
            {
                <li class="nav-item">
                    <a href="@root.YoutubeLink"><i class="fab fa-youtube"></i></a>
                </li>
            }
        </ul>
    </div>

</nav>