@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Frontpage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Root.cshtml";
    var blogMaster = Model.Content.Children.FirstOrDefault(x => x.IsDocumentType(BlogPosts.ModelTypeAlias));
    var blogs = blogMaster.Descendants<BlogPost>().OrderByDescending(p => p.PostDate).ToList();
    System.Globalization.CultureInfo culture = new System.Globalization.CultureInfo("da-DK");
}

<div class="row">
    <div class="col-md-9 col-12">
        @if (blogs.Any())
        {
            <div class="row">
                <div class="col">
                    <a href="@blogs.FirstOrDefault().Url" class="main-article">
                        <img class="img-fluid" src="@(blogs.FirstOrDefault().MainImage != null ? blogs.FirstOrDefault().MainImage.GetCropUrl("bigFrontpage") : string.Empty)">
                        <div class="article-info">
                            <h2>@blogs.FirstOrDefault().Name</h2>
                            <div class="btn btn-outline-light">Læs mere</div>
                        </div>
                    </a>
                </div>
                <div class="w-100"></div>
                @foreach (var post in blogs.Skip(1))
                {
                    <div class="col-md-4 col">
                        <a href="@post.Url" class="sub-article">
                            <img class="img-fluid" src="@(post.MainImage != null ? post.MainImage.GetCropUrl("smallFrontpage") : string.Empty)">
                            <div class="article-presentation">
                                <h3>@post.Name</h3>
                                <span>@post.PostDate.ToString("d. MMMM yyyy", culture)</span>
                                <p>
                                    @post.Description
                                </p>
                            </div>
                        </a>
                    </div>
                }
            </div>
        }
    </div>
    <div class="col-md-3 instagram-feed d-none d-sm-block">
        <a class="link-about-me" href="@Model.Content.AboutMeLink.Url">
            <img class="img-fluid img-about-me" alt="about me image" src="@(Model.Content.AboutMeImage != null ? Model.Content.AboutMeImage.GetCropUrl("square") : string.Empty)">
            <p>@Model.Content.AboutMeDescription</p>
        </a>
        <!-- LightWidget WIDGET -->
        <script src="http://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="http://lightwidget.com/widgets/@(Model.Content.LightwidgetId).html"
                                                                                         scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
    </div>
</div>
